[submodule "thirdparty/COVID-19"]
	path = thirdparty/COVID-19
	url = git@github.com:CSSEGISandData/COVID-19.git
[submodule "thirdparty/covid-19"]
	path = thirdparty/covid-19
	url = git@github.com:datasets/covid-19.git
